In [4]:
'hi'

'hi'

numbers only

In [5]:
10+5

15

In [6]:

a=('hai')
b=('welcome python')


a

'hai'

In [7]:
 
b

'welcome python'

In [8]:
print(a)
print(b)

hai
welcome python

In [9]:
y=5
y**1

y

5

In [10]:
x=20%3

x

2

In [11]:
2*1+1-(2*5)

-7

In [17]:
name='chrisjason'
age=int(input("enter the age"))
course=input('enter the course')

KeyboardInterrupt:

In [13]:
print(f'{name},{age},{course}')

chrisjason,12,rython

In [14]:
price=10.5
qty=int(input('enter the qty'))

In [15]:
print(f'{price},{qty},tot amt{price*qty}')

10.5,5,tot amt52.5

In [16]:
price=20.2
qty=int(input(enter the qty))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1835743978.py, line 2)

In [ ]:
print(f'{price},{qty},tot amt{price*qty}')

10.5,3,tot amt31.5

In [ ]:
a=10
b=20
print(a+b)

30

In [ ]:
print(a,b)

10 20

In [ ]:

a

10

In [ ]:

b

20

In [ ]:
type(a)
str

str

In [ ]:
type(b)

int

In [ ]:
name='chris'
age=16
course='python'

In [ ]:
price=10.5
qty=input('enter the qty')

In [ ]:
print(f'{price},{qty},total amt{price*qty})

In [18]:
'welcome'

'welcome'

In [ ]:
a=int(input('enter a value'))
b=int(input('enter b value'))
if a>b:
   print(f'a is big{a}')
else:
    print(f'b is big{b}')

In [6]:
#import math library
import math

In [7]:
#string in single quote
'variablz acadamy'

'variablz acadamy'

In [8]:
#string in double quote
"this is pen"

'this is pen'

In [11]:
#store string in variables
name = 'chris'
company = 'variablz'

In [12]:
name

'chris'

In [13]:
company

'variablz'

In [15]:
#triple times of single quotes
print('''you are in 
research lab''')

you are in
research lab

In [17]:
print('i am chris\nworking in variablz')

i am chris
working in variablz

In [18]:
#mathmatical operation
5+6

11

In [19]:
12+8

20

In [20]:
8.4+3

11.4

In [21]:
5.6

5.6

In [23]:
x=5.5
y=2.1
z = x+y
z

7.6

In [24]:
x=.2
y=.5
z = (x-y)
z

-0.3

In [25]:
round(z,2)

-0.3

In [1]:
x = '10'
#convert string into integer
x = int(x)
x

10

In [2]:
#now do the math operation
x+1

11

In [3]:
x = float(10.5)
x = float(x)
x

10.5

In [4]:
x + 10

20.5

In [5]:
x = '10'
x = float(x)
x

10.0

In [7]:
x = input("enter the num 1:")
y = input("enter the num 2:")
z = x+y
z

'1020'

In [8]:
x= input("enter the num 1 :")
y = input("enter the num 2:")
z = int(x)+int(y)
z

30

In [9]:
price = 20
qty = input("how many apples?")
qty = int(qty)

In [10]:
output = f'you have bought{qty} and the price is {qty*price}'
print(output)

you have bought5 and the price is 100

In [20]:
name = "chris"
age = 17
hight=180

# using format() to creat formatted string
info_string = "Name:{},Age:{},'Hight':{} metres?".format(name,age,'hieght')

print(info_string)

Name:chris,Age:17,'Hight':hieght metres?

In [21]:
married = True
married

True

In [22]:
passed = False
passed

False

In [24]:
x = None
x

In [25]:
x = ''
x

''

In [29]:
x = 0
x

0

In [30]:
x = False
x

False

In [31]:
type(.7)

float

In [32]:
type(7)

int

In [33]:
type('7')

str

In [34]:
type('.7')

str

In [36]:
type(True)

bool

In [38]:
type(None)

NoneType

In [1]:
tamil = 60
english = 70
maths = 35
science = 80
social = 50

In [2]:
total = tamil+english+maths+science+social
total

295

In [4]:
income = 375
expence = 70

In [5]:
profit = income-expence
print(profit)

305

In [6]:
price=350
quantity=12

In [8]:
#multiplication
total_price= price*quantity
print(f'Total price{total_price}')

Total price4200

In [9]:
total_students = 550
sec = 4

In [10]:
split = total_students/sec
print(f'Students per sec:{split}')

Students per sec:137.5

In [11]:
total_students = 550
sec = 5

In [12]:
split = total_students//sec
print(f'Students per sec:{split}')

Students per sec:110

In [13]:
total_sudents = 550
sec = 6

In [14]:
remaining = total_students%sec
print(f'Students per sec:{remaining}')

Students per sec:4

In [15]:
value = 2*1+1-2*5
print(value)

-7

In [16]:
#using parathesis to control & better readability
value = 2*1+1-2*5
print(value)

-7

In [17]:
#import math library
import math

In [18]:
#factorial
math.factorial(5)

120

In [19]:
#squar root
math.sqrt(144)

12.0

In [20]:
#pi value
math.pi

3.141592653589793

In [21]:
#Eulers number
math.e

2.718281828459045

In [22]:
degree = 30

In [23]:
#convert degree into radians
radians = math.radians(degree)
radians

0.5235987755982988

In [25]:
#sin
math.sin(radians)

0.49999999999999994

In [26]:
#cos
math.cos(radians)

0.8660254037844387

In [27]:
circles = 54
radius =30
price = 98
pi = math.pi
area = pi*radius**2
total_area = area * circles
total_price_02 = total_area*price
total_price_02

14962777.490517467

In [29]:
x = 5
y = 5
x==y

True

In [30]:
x = 5
y = 6
x==y

False

In [31]:
x = 5
y = 5
x!=y

False

In [32]:
x = 5
y = 6
x != y

True

In [33]:
x = 6
y = 5
x>y

True

In [34]:
x<y

False

In [36]:
x>=y

True

In [38]:
x = 6
y = 6
x<=y

True

In [39]:
x>=y

True

In [40]:
x=5
y=7
x<=y

True

In [41]:
x>=y

False

In [43]:
word = 'apple'

In [44]:
#Using in 
'a' in word

True

In [45]:
'z' in word

False

In [47]:
#using not in
'z'not in word

True

In [49]:
agree= input('do you agree for terms? yes or no :')

In [1]:
idly=input('How is todays''s? good or bad:')
chutney = input('how is chutney?good or bad?:')
print(idly,chutney)

good good

In [3]:
lottery1 = input('Have you won? yes or no:')
lottery2 = input('Have you won? yes or no:')
print(lottery1,lottery2)

yes no

In [6]:
if lottery1 == 'yes' or lottery2 == 'yes':
      print('Happy customer')
else:
      print('Sad custumor')

Happy customer

In [7]:
books = []
books

[]

In [8]:
books.append('python')
books.append('r program')
books.append('sql')
books.append('dart')

In [10]:
books

['python', 'r program', 'sql', 'dart']

In [18]:
books = ('dart','python','sql','django')
books

('dart', 'python', 'sql', 'django')

In [ ]:
books.remove('Django')
books.remove('Sql')
books

In [21]:
books = ['dart','sql','flutter','django','flash']
books

['dart', 'sql', 'flutter', 'django', 'flash']

In [23]:
books.clear()
books

[]

In [24]:
#repeat list
books = []
books

[]

In [25]:
books = ('dart','sql','futter','django','flask')
books

('dart', 'sql', 'futter', 'django', 'flask')

In [ ]:
books.insert(2, 'Python')
books

In [33]:
week_days = ('monday','tue','wed','thu','fri')
week_days

('monday', 'tue', 'wed', 'thu', 'fri')

In [34]:
id_numbers=(1,2,3,4,5,)
id_numbers

(1, 2, 3, 4, 5)

In [37]:
person = ('parthiban',33,'male','9994657738')
person

('parthiban', 33, 'male', '9994657738')

In [38]:
week_days = ('mon','tue','wed','thu','fri')
week_days

('mon', 'tue', 'wed', 'thu', 'fri')

In [39]:
week_days.index('tue')

1

In [40]:
len(week_days)

5

In [2]:
try:
    if age<30:
        print('yongster')
except:
        print('error occured')
finally:
    print('operation occured!')

error occured
operation occured!

In [5]:
try:
    if age<30:
        print('youngster')
except :
    print('name is not defind')
finally:
    print('other error')

name is not defind
other error

In [6]:
age = input('enter your age:')
try:
    if age<30:
        print('Yongster')
except NameError:
    print('Name not defined')
except TypeError:
    print('Type not valid')
except:
    print('other Error')

Type not valid

In [7]:
file = open('variblz.txt','x')

In [9]:
#if file aldredy exists it thows an error
file = open('variablz.txt','x')

FileExistsError: [Errno 17] File exists: 'variablz.txt'

In [16]:
file = open('variablz.txt','w')
file.write('''
hi 
i am the new variable file
i used to write
if file dosen't exist ,i creat a new one
i am the writing file
''')
file.close()

In [17]:
file = open('variablz.txt','a')
file.write('''
Hi
I am the new variable file
if file dosen't exist,I create a new file
if file aldready exist,I just add content to the end
''')

126

In [19]:
file = open('variablz.txt','r')
file.read()

"\nhi \ni am the new variable file\ni used to write\nif file dosen't exist ,i creat a new one\ni am the writing file\n\nHi\nI am the new variable file\nif file dosen't exist,I create a new file\nif file aldready exist,I just add content to the end\n"

In [14]:
file = open('students.csv','a')
file.write('''
4,r program,30,600
5,chris,40,500
6,rust,30,600
''')
file.close()

In [20]:
file = open('students.csv','a')
print(file)

<_io.TextIOWrapper name='students.csv' mode='a' encoding='UTF-8'>

In [22]:
file = open('variablz.txt','r')
contents = file.read()
print(contents)
file.close()

hi
i am the new variable file
i used to write
if file dosen't exist ,i creat a new one
i am the writing file

Hi
I am the new variable file
if file dosen't exist,I create a new file
if file aldready exist,I just add content to the end

In [23]:
file_name = 'variablz.text'

In [24]:
#using context manager
with open(file_name,'w') as file:
    file.write('this file is written by context manager')

In [ ]:
def order_food(*items):
    cart = []
    for item in items:
        cart.append(item)

        return cart

In [4]:
class student:
    def __init__(self):
        name = 'variablz'
        address = 'cuddalore'
        self.name = name
        self.address = address
    def disp(self):
      print('name is',self.name)
      print('addresss is',self.address)

In [5]:
obj = student()
obj.disp()

name is variablz
addresss is cuddalore

In [6]:
class student:
    def __init__(self,name,address):
        #name = 'variablz'
        #address = 'cuddalore'
        self.name = name
        self.address = address
    def disp(self):
        print('name is',self.name)
        print('addrss is',self.address)
    def __del__(self):
        print('destroyed object')

In [8]:
obj = student('variablz','cuddalore')
obj.disp()
del obj
obj.disp()

name is variablz
addrss is cuddalore
destroyed object

NameError: name 'obj' is not defined

In [6]:
class customer:
    def __init__(self):
        name = 'vinoth'
        address = 'cuddalore'
        bnumber = '2345678'
        self.name = name
        self.address = address
        self.bnumber = bnumber
    def disp(self):
        print('name is',self.name)
        print('address is',self.address)
        print('bnumber is',self.bnumber)

In [7]:
obj = customer()
obj.disp()

name is vinoth
address is cuddalore
bnumber is 2345678

In [11]:
#class
class Amazonaccount:

    #public class variables
    message = 'welcome to Amazon'

    #private class variabls
    _default_delivary = 7

   #constuctor
    def __init__(self,name,mail):
      self.name = name
      self._mail = mail
      print(f'hello{self.name}!\n{self.message}')

In [12]:
# object 01
parthipan = Amazonaccount('parthipan','parthi@gmail.com')

helloparthipan!
welcome to Amazon

In [13]:
parthipan.name

'parthipan'

In [15]:
parthipan._mail

'parthi@gmail.com'

In [24]:
#parent class or primary class
class Amazonaccount:

    #private members
    _default_delivary = 7

    #public members
    welcomemessage = 'welcome to amazon account'

    #constructor
    def __init__(self,name,mobile,email):
        self.name = name
        self.mobile = mobile
        self.email = email
        print(f'hello{self.name}\n{self.mobile}\n {self.email}')

In [26]:
#methods
def shopping(self,items):
    print(f'{self.name} bought{items}')

In [27]:
def delivary(self):
    print(f'your order will deliver in{self._default_delivary}')

def _deactivate_account(self):
    print(f'{self.name} account diactivated successfully')

In [30]:
vinoth = Amazonaccount('vinoth',9994677385,'vinoth@gmail.com')

hellovinoth
9994677385
 vinoth@gmail.com